* {
  text-shadow: none !important;
  outline: 0 !important;
  outline-style: none !important;
  user-select: none !important; /* Chrome & Opera */
  -webkit-user-select: none !important; /* Safari */
  -webkit-user-drag: none !important;
  -khtml-user-select: none !important; /* Konqueror HTML */
  -moz-user-select: none !important; /* Firefox */
  -ms-user-select: none !important; /* IE & Edge */
  -o-user-select: none !important;
  -webkit-tap-highlight-color: transparent !important;
}
